### Introduction to DataWrangling with Pandas: the Python Data Analysis library
Pandas is a strange name, kind of an acronym: Python, Numerical, Data Analysis? 

(or so I thought, seems the name comes from Panel Data, either way, nothing to do with Chinese bamboo chewing bears)

Because pandas is an external library you need to import it. There are several ways that you will see imports done:
* import pandas
* from pandas import tools
* import pandas as pd


The first is the same as 'from pandas import *' where star means all (that's right, the same as SQL)<br>
The second imports a part of pandas only, a sublibrary called 'tools'<br>
The third is a renaming, or alias, 'pd' is common (you could call pandas 'xyz' but you'd be on your own).<br>
You could leave out the 'import as' and just type 'pandas' every time but it becomes more useful for longer names e.g.<br>
import matplotlib.pyplot as plt 

So, for any code following (if the above imports work), 'plt' would mean 'matplotlib.pyplot'

This, by the way, is a Python Notebook, select cells (this one is text, below is code) then SHIFT-ENTER to run sequentially

In [3]:
# import libraries first
import pandas as pd 
import numpy as np # Numberical Python

In [4]:
# and make one of these dataframes...
dataframe()

NameError: name 'dataframe' is not defined

In [5]:
# oops, try another spelling
Dataframe()

NameError: name 'Dataframe' is not defined

In [6]:
# no good? Try the library
pd.dataframe()

AttributeError: module 'pandas' has no attribute 'dataframe'

## Errors
<font color = "green">'module' object has no attribute 'dataframe'<br></font>
is better than<br>
<font color = "green">name 'Dataframe' is not defined<br></font>
but neither are working...

## Tip
When writing code you can use a help feature that shows you options. <br>
If you type e.g. 'pandas.' then TAB you can see options:

<img src = "TABhelp.png" height = "200" width = "200">

There's also
* ??pandas
* help(pandas)
* pandas?

In [7]:
# so try pandas.DataFrame()
pd.DataFrame()

Empty DataFrame
Columns: []
Index: []

So.. no errors, seems to have worked, but what's in the DataFrame? (nothing)
#### Make a note, Python is case sensitive: 'DataFrame' is not the same as 'Dataframe' or 'dataframe'

In [8]:
pd.DataFrame([2,4,6,8])

   0
0  2
1  4
2  6
3  8

In [11]:
# aha, better but this is temporary, if you want to use the data you need to save it, so create a variable
df = pd.DataFrame([2,4,6,8])
df2 = pd.DataFrame((1,2,3,4))

In [16]:
# but now there's no output... can't win
# use the variable to see the data
df 
#df2

   0
0  2
1  4
2  6
3  8

Make another note, the column titles are ' ' and '0'

And another note: Python is one of those '0' index languages, we have 4 items (2,4,6,8) but they are found at 0,1,2,3 viz:

In [13]:
df.columns.name = "Index" # rename the column
df

Index  0
0      2
1      4
2      6
3      8

In [14]:
# you can see this another way:
df[0][1] # column 0, item 1

4

In [15]:
# You can also use pandas to create an series of datetime objects. Let's make one for the week beginning January 25th, 2015:
dates = pd.date_range('20150125', periods=7)

In [16]:
dates

DatetimeIndex(['2015-01-25', '2015-01-26', '2015-01-27', '2015-01-28',
               '2015-01-29', '2015-01-30', '2015-01-31'],
              dtype='datetime64[ns]', freq='D')

Now we'll create a DataFrame using the dates array as our index, fill it with some random values using numpy, and give the columns some labels.

Note that randn(7,5) below matches the 7 dates (rows) and 5 names (columns)

(Otherwise it wouldn't work, try changing 5 to 6...)

In [17]:
df = pd.DataFrame(np.random.randn(7,5), index=dates, columns={'Adam','Bob','Carla','Dave','Eve'})

In [18]:
df

                 Bob      Dave       Eve     Carla      Adam
2015-01-25  1.575908  0.871677 -0.437900 -0.460460 -0.361190
2015-01-26 -1.320313  0.660862  0.363140  1.381199 -0.407352
2015-01-27 -0.613629 -1.529022  0.428329  0.620935 -0.348679
2015-01-28  0.092477  1.667248 -0.691496  0.611396  0.781496
2015-01-29  0.367776  1.192252 -0.954718  0.745626 -0.939168
2015-01-30  1.433878  0.894969  0.531640 -0.203357 -0.476547
2015-01-31 -1.546948 -0.056102  0.740772 -0.671957  0.302230

DataFrames are more flexible than that, both in terms of what you can store in them and what you can do with them.

It can also be useful to know how to create a DataFrame from a dict of objects. 

This comes in particularly handy when working with JSON-like structures.

In [19]:
df2 = pd.DataFrame({ 'A' : np.random.random_sample(4), # 4 random numbers
                     'B' : pd.Timestamp('20130102'), # 4 dates, note pandas autofills
                     'C' : pd.date_range('20150125',periods = 4), # 4 dates in a range
                     'D' : ['a','b','c','d'], # letters
                     'E' : ["cat","dog","mouse","parrot"], # text/string
                     'F' : 'copy'}) # note pandas autofills

In [20]:
df2

          A          B          C  D       E     F
0  0.621639 2013-01-02 2015-01-25  a     cat  copy
1  0.411216 2013-01-02 2015-01-26  b     dog  copy
2  0.564359 2013-01-02 2015-01-27  c   mouse  copy
3  0.327656 2013-01-02 2015-01-28  d  parrot  copy

## Exploring the data in a DataFrame

We can access the data types of each column in a DataFrame as follows:

In [21]:
df2.dtypes

A           float64
B    datetime64[ns]
C    datetime64[ns]
D            object
E            object
F            object
dtype: object

So numbers, dates, objects all cohabitating in a dataframe.

We can display the index, columns, and the underlying numpy data separately:

In [22]:
df2.index

RangeIndex(start=0, stop=4, step=1)

In [23]:
df2.columns

Index([u'A', u'B', u'C', u'D', u'E', u'F'], dtype='object')

In [18]:
df2.values

array([[0.7714258623131407, Timestamp('2013-01-02 00:00:00'),
        Timestamp('2015-01-25 00:00:00'), 'a', 'cat', 'copy'],
       [0.09216136944791653, Timestamp('2013-01-02 00:00:00'),
        Timestamp('2015-01-26 00:00:00'), 'b', 'dog', 'copy'],
       [0.11564802011151598, Timestamp('2013-01-02 00:00:00'),
        Timestamp('2015-01-27 00:00:00'), 'c', 'mouse', 'copy'],
       [0.16259865720046762, Timestamp('2013-01-02 00:00:00'),
        Timestamp('2015-01-28 00:00:00'), 'd', 'parrot', 'copy']], dtype=object)

In [20]:
describe()

NameError: name 'describe' is not defined

To get a quick statistical summary of your data, use the describe() function:

In [19]:
df2.describe()

              A
count  4.000000
mean   0.285458
std    0.325299
min    0.092161
25%    0.109776
50%    0.139123
75%    0.314805
max    0.771426

## Some basic data transformations

DataFrames have a built-in transpose:

In [21]:
df2.T

,0,1,2,3
A,0.771426,0.0921614,0.115648,0.162599
B,2013-01-02 00:00:00,2013-01-02 00:00:00,2013-01-02 00:00:00,2013-01-02 00:00:00
C,2015-01-25 00:00:00,2015-01-26 00:00:00,2015-01-27 00:00:00,2015-01-28 00:00:00
D,a,b,c,d
E,cat,dog,mouse,parrot
F,copy,copy,copy,copy

We can also sort a DataFrame along a given data dimension. For example, we might want to sort by the values in column B:

In [22]:
df.sort(columns='Bob')

/Users/Ash/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

                 Bob      Dave       Eve     Carla      Adam
2015-01-26 -1.491109  0.212164 -0.263117 -0.030399 -0.738090
2015-01-30 -0.604650 -1.056841  1.600845  0.989660 -0.029981
2015-01-25 -0.413412 -0.812689  0.234801  1.164765 -0.329205
2015-01-29 -0.330639 -0.600868 -0.217519  0.155998  1.219320
2015-01-28  0.703809 -2.140427  0.073539  1.847439 -0.177521
2015-01-27  1.209520 -0.557982 -0.907697 -0.126682 -1.221243
2015-01-31  1.849394  1.170689  2.316383  0.732156  0.316274

## Selection

To select only only the first few rows of a DataFrame, use the head()function

In [23]:
df.head()

                 Bob      Dave       Eve     Carla      Adam
2015-01-25 -0.413412 -0.812689  0.234801  1.164765 -0.329205
2015-01-26 -1.491109  0.212164 -0.263117 -0.030399 -0.738090
2015-01-27  1.209520 -0.557982 -0.907697 -0.126682 -1.221243
2015-01-28  0.703809 -2.140427  0.073539  1.847439 -0.177521
2015-01-29 -0.330639 -0.600868 -0.217519  0.155998  1.219320

To view only the last few rows, use the tail() function. Note that by default, both head() and tail() return 5 rows. 
You can also specify the number you want by passing in an integer.

In [24]:
df.tail(2)

                 Bob      Dave       Eve     Carla      Adam
2015-01-30 -0.604650 -1.056841  1.600845  0.989660 -0.029981
2015-01-31  1.849394  1.170689  2.316383  0.732156  0.316274

Selecting a single column:

In [25]:
df['Dave']

2015-01-25   -0.812689
2015-01-26    0.212164
2015-01-27   -0.557982
2015-01-28   -2.140427
2015-01-29   -0.600868
2015-01-30   -1.056841
2015-01-31    1.170689
Freq: D, Name: Dave, dtype: float64

We can also select a subset of the rows using slicing. You can select either by integer indexing:

In [26]:
df[1:3]

                 Bob      Dave       Eve     Carla      Adam
2015-01-26 -1.491109  0.212164 -0.263117 -0.030399 -0.738090
2015-01-27  1.209520 -0.557982 -0.907697 -0.126682 -1.221243

Or by value (for example, slicing on a date range might come in handy):

In [27]:
df['20150127':'20150129']

                 Bob      Dave       Eve     Carla      Adam
2015-01-27  1.209520 -0.557982 -0.907697 -0.126682 -1.221243
2015-01-28  0.703809 -2.140427  0.073539  1.847439 -0.177521
2015-01-29 -0.330639 -0.600868 -0.217519  0.155998  1.219320

To select more than one column at a time, try loc[]:

In [28]:
df.loc[:,['Dave','Eve']]

                Dave       Eve
2015-01-25 -0.812689  0.234801
2015-01-26  0.212164 -0.263117
2015-01-27 -0.557982 -0.907697
2015-01-28 -2.140427  0.073539
2015-01-29 -0.600868 -0.217519
2015-01-30 -1.056841  1.600845
2015-01-31  1.170689  2.316383

And of course, you might want to do both at the same time:

In [29]:
df.loc['20150127':'20150129',['Dave','Eve']]

                Dave       Eve
2015-01-27 -0.557982 -0.907697
2015-01-28 -2.140427  0.073539
2015-01-29 -0.600868 -0.217519

## Conditional Indexing
Sometimes it's useful to be able to select all rows that meet some criteria. 
For example, we might want all rows where the value is greater than 0:

In [30]:
df[df['Eve'] > 0]

                 Bob      Dave       Eve     Carla      Adam
2015-01-25 -0.413412 -0.812689  0.234801  1.164765 -0.329205
2015-01-28  0.703809 -2.140427  0.073539  1.847439 -0.177521
2015-01-30 -0.604650 -1.056841  1.600845  0.989660 -0.029981
2015-01-31  1.849394  1.170689  2.316383  0.732156  0.316274

Or perhaps we'd like to eliminate all negative values:

In [31]:
nonneg_only = df[df > 0]

In [32]:
nonneg_only

                 Bob      Dave       Eve     Carla      Adam
2015-01-25       NaN       NaN  0.234801  1.164765       NaN
2015-01-26       NaN  0.212164       NaN       NaN       NaN
2015-01-27  1.209520       NaN       NaN       NaN       NaN
2015-01-28  0.703809       NaN  0.073539  1.847439       NaN
2015-01-29       NaN       NaN       NaN  0.155998  1.219320
2015-01-30       NaN       NaN  1.600845  0.989660       NaN
2015-01-31  1.849394  1.170689  2.316383  0.732156  0.316274

And then maybe we'd like to drop all the rows with missing values:

In [33]:
nonneg_only.dropna()

                 Bob      Dave       Eve     Carla      Adam
2015-01-31  1.849394  1.170689  2.316383  0.732156  0.316274

Oops... maybe not. How about we set them to zero instead?

In [34]:
nonneg_only.fillna(value=0)

                 Bob      Dave       Eve     Carla      Adam
2015-01-25  0.000000  0.000000  0.234801  1.164765  0.000000
2015-01-26  0.000000  0.212164  0.000000  0.000000  0.000000
2015-01-27  1.209520  0.000000  0.000000  0.000000  0.000000
2015-01-28  0.703809  0.000000  0.073539  1.847439  0.000000
2015-01-29  0.000000  0.000000  0.000000  0.155998  1.219320
2015-01-30  0.000000  0.000000  1.600845  0.989660  0.000000
2015-01-31  1.849394  1.170689  2.316383  0.732156  0.316274

But what if your values aren't numeric? No problem, we can also do filtering. First, let's copy the DataFrame and add a new column of nominal values:

In [35]:
df2 = df.copy()

In [36]:
df2['color']=['blue', 'green','red','blue','green','red','blue']

In [37]:
df2

                 Bob      Dave       Eve     Carla      Adam  color
2015-01-25 -0.413412 -0.812689  0.234801  1.164765 -0.329205   blue
2015-01-26 -1.491109  0.212164 -0.263117 -0.030399 -0.738090  green
2015-01-27  1.209520 -0.557982 -0.907697 -0.126682 -1.221243    red
2015-01-28  0.703809 -2.140427  0.073539  1.847439 -0.177521   blue
2015-01-29 -0.330639 -0.600868 -0.217519  0.155998  1.219320  green
2015-01-30 -0.604650 -1.056841  1.600845  0.989660 -0.029981    red
2015-01-31  1.849394  1.170689  2.316383  0.732156  0.316274   blue

Now we can use the isin() function to select only the rows with 'green' or 'blue' in the color column:

In [38]:
df2[df2['color'].isin(['green','blue'])]

                 Bob      Dave       Eve     Carla      Adam  color
2015-01-25 -0.413412 -0.812689  0.234801  1.164765 -0.329205   blue
2015-01-26 -1.491109  0.212164 -0.263117 -0.030399 -0.738090  green
2015-01-28  0.703809 -2.140427  0.073539  1.847439 -0.177521   blue
2015-01-29 -0.330639 -0.600868 -0.217519  0.155998  1.219320  green
2015-01-31  1.849394  1.170689  2.316383  0.732156  0.316274   blue

## Basic Math

It's simple to get the mean across all numeric columns:

In [39]:
df.mean()

Bob      0.131845
Dave    -0.540850
Eve      0.405319
Carla    0.676134
Adam    -0.137207
dtype: float64

We can also perform the same operation on rows:

In [40]:
df.mean(1)

2015-01-25   -0.031148
2015-01-26   -0.462110
2015-01-27   -0.320816
2015-01-28    0.061368
2015-01-29    0.045259
2015-01-30    0.179807
2015-01-31    1.276979
Freq: D, dtype: float64

Median also behaves as expected:

In [41]:
df.median()

Bob     -0.330639
Dave    -0.600868
Eve      0.073539
Carla    0.732156
Adam    -0.177521
dtype: float64

You can also use the apply() function to evaluate functions to the data. For example, we might want to perform a cumulative summation (thanks, numpy!):

In [42]:
df.apply(np.cumsum)

                 Bob      Dave       Eve     Carla      Adam
2015-01-25 -0.413412 -0.812689  0.234801  1.164765 -0.329205
2015-01-26 -1.904522 -0.600524 -0.028316  1.134366 -1.067295
2015-01-27 -0.695001 -1.158506 -0.936013  1.007685 -2.288537
2015-01-28  0.008807 -3.298933 -0.862474  2.855124 -2.466059
2015-01-29 -0.321832 -3.899801 -1.079993  3.011123 -1.246739
2015-01-30 -0.926481 -4.956641  0.520852  4.000783 -1.276720
2015-01-31  0.922912 -3.785953  2.837235  4.732939 -0.960446

Or apply your own function, such as finding the spread (max value - min value):

In [43]:
df.apply(lambda x: x.max() - x.min())

Bob      3.340503
Dave     3.311116
Eve      3.224079
Carla    1.974121
Adam     2.440563
dtype: float64

## Combining DataFrames

Combining DataFrame objects can be done using simple concatenation (provided they have the same columns):

In [44]:
frame_one = pd.DataFrame(np.random.randn(5, 4))

In [45]:
frame_one

          0         1         2         3
0  1.040888 -1.130348 -0.035298 -1.130259
1  2.029179  0.141637  0.393227 -0.390298
2 -0.476397 -0.047357 -1.074049 -1.383644
3  0.413013  0.538595  0.391360  0.489039
4 -0.169013 -0.841920  1.231419 -1.393145

In [46]:
frame_two = pd.DataFrame(np.random.randn(5, 4))

In [47]:
frame_two

          0         1         2         3
0  0.778739 -0.518765  0.573491 -0.705128
1  1.045656 -0.463168  0.150572  0.603402
2  0.747892  0.160335 -0.638161  2.488629
3 -0.417798  0.545694  1.023601 -0.675910
4  1.518283 -1.779227  0.858051 -0.530456

In [48]:
pd.concat([frame_one, frame_two])

          0         1         2         3
0  1.040888 -1.130348 -0.035298 -1.130259
1  2.029179  0.141637  0.393227 -0.390298
2 -0.476397 -0.047357 -1.074049 -1.383644
3  0.413013  0.538595  0.391360  0.489039
4 -0.169013 -0.841920  1.231419 -1.393145
0  0.778739 -0.518765  0.573491 -0.705128
1  1.045656 -0.463168  0.150572  0.603402
2  0.747892  0.160335 -0.638161  2.488629
3 -0.417798  0.545694  1.023601 -0.675910
4  1.518283 -1.779227  0.858051 -0.530456

If your DataFrames do not have an identical structure, but do share a common key, you can also perform a SQL-style join using the merge() function:

In [49]:
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})

In [50]:
left

   key  lval
0  foo     1
1  bar     2

In [51]:
right = pd.DataFrame({'key': ['foo', 'foo', 'bar'], 'rval': [3, 4, 5]})

In [52]:
right

   key  rval
0  foo     3
1  foo     4
2  bar     5

In [53]:
pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     3
1  foo     1     4
2  bar     2     5

## Grouping

Sometimes when working with multivariate data, it's helpful to be able to condense the data along a certain dimension in order to perform a calculation for efficiently. Let's start by creating a messy DataFrame:

In [54]:
foo_bar = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar','foo', 'bar', 'foo', 'foo'],
                            'B' : ['one', 'one', 'two', 'three', 'two', 'two', 'one', 'three'],
                            'C' : np.random.randn(8),
                            'D' : np.random.randn(8)})

In [55]:
foo_bar

     A      B         C         D
0  foo    one  1.376381 -0.368342
1  bar    one  0.010057 -0.223580
2  foo    two  0.527612  0.375247
3  bar  three -0.743671  1.057114
4  foo    two -1.226890  0.573927
5  bar    two  0.746241  1.026786
6  foo    one -0.487211  0.728667
7  foo  three  0.625981  1.213255

Now let's group by column A, and sum along the other columns:

In [56]:
foo_bar.groupby('A').sum()

            C         D
A
bar  0.012627  1.860320
foo  0.815873  2.522754

Note that column B was dropped, because the summation operator doesn't make sense on strings. However, if we wanted to retain that information, we could perform the same operation using a hierarchical index:

In [57]:
grouped = foo_bar.groupby(['A','B']).sum()

In [58]:
grouped

                  C         D
A   B
bar one    0.010057 -0.223580
    three -0.743671  1.057114
    two    0.746241  1.026786
foo one    0.889169  0.360324
    three  0.625981  1.213255
    two   -0.699278  0.949174

## Time Series

pandas has simple, powerful, and efficient functionality for performing resampling operations during frequency conversion (for example, converting secondly data into minutely data). Firse, let's create an array of dateTime objects at a frequency of 1 second:

In [59]:
rng = pd.date_range('1/1/2015', periods=100, freq='S')

In [60]:
rng[1:5]  # and look at a few

DatetimeIndex(['2015-01-01 00:00:01', '2015-01-01 00:00:02',
               '2015-01-01 00:00:03', '2015-01-01 00:00:04'],
              dtype='datetime64[ns]', freq='S')

Now we'll use that to greate a time series, assigning a random integer to each element of the range:

In [61]:
time_series = pd.Series(np.random.randint(0, 500, len(rng)), index=rng)

In [62]:
time_series.head()

2015-01-01 00:00:00    129
2015-01-01 00:00:01    490
2015-01-01 00:00:02    282
2015-01-01 00:00:03    345
2015-01-01 00:00:04    425
Freq: S, dtype: int64

Next, we'll resample the data by binning the one-second raws into minutes (and summing the associated values):

In [64]:
time_series.resample('1Min', how='sum')

/Users/Ash/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).sum()
  if __name__ == '__main__':

2015-01-01 00:00:00    16196
2015-01-01 00:01:00    10551
Freq: T, dtype: int64

## Reading/Writing to files

Writing to a file is straightforward:

In [65]:
foo_bar.to_csv('foo.csv')

As is reading:

In [66]:
new_frame = pd.read_csv('foo.csv')

In [67]:
new_frame.head()

   Unnamed: 0    A      B         C         D
0           0  foo    one  1.376381 -0.368342
1           1  bar    one  0.010057 -0.223580
2           2  foo    two  0.527612  0.375247
3           3  bar  three -0.743671  1.057114
4           4  foo    two -1.226890  0.573927

But what if the data is a little... messy? Something like this:

In [26]:
broken_df = pd.read_csv('bikes.csv')

In [27]:
broken_df[:3]

  Date;Berri 1;Br�beuf (donn�es non disponibles);C�te-Sainte-Catherine;Maisonneuve 1;Maisonneuve 2;du Parc;Pierre-Dupuy;Rachel1;St-Urbain (donn�es non disponibles)
0                   01/01/2012;35;;0;38;51;26;10;16;
1                   02/01/2012;83;;1;68;153;53;6;43;
2                 03/01/2012;135;;2;104;248;89;3;58;

No problem! The read_csv() function has lots of tools to help wrangle this mess. Here we'll

    - change the column separator to a ;
    - Set the encoding to 'latin1' (the default is 'utf8')
    - Parse the dates in the 'Date' column
    - Tell it that our dates have the date first instead of the month first
    - Set the index to be the 'Date' column

In [28]:
fixed_df = pd.read_csv('bikes.csv', sep=';', encoding='latin1', parse_dates=['Date'], dayfirst=True, index_col='Date')

In [29]:
fixed_df.head()

,Berri 1,Brébeuf (données non disponibles),Côte-Sainte-Catherine,Maisonneuve 1,Maisonneuve 2,du Parc,Pierre-Dupuy,Rachel1,St-Urbain (données non disponibles)
Date,,,,,,,,,
2012-01-01,35,NaN,0,38,51,26,10,16,NaN
2012-01-02,83,NaN,1,68,153,53,6,43,NaN
2012-01-03,135,NaN,2,104,248,89,3,58,NaN
2012-01-04,144,NaN,1,116,318,111,8,61,NaN
2012-01-05,197,NaN,2,124,330,97,13,95,NaN

## Scraping data from the web

Many of you will probably be interested in scraping data from the web for your projects. For example, what if we were interested in working with some historical Canadian weather data? Well, we can get that from: http://climate.weather.gc.ca using their API. Requests are going to be formatted like this:

In [15]:
#url_template = "http://www.wunderground.com/global/stations/54511.html"
url_template = "http://www.wunderground.com/global/stations/54511.html"

Note that we've requested the data be returned as a csv, and that we're going to supply the month and year as inputs when we fire off the query. To get the data for March 2013, we need to format it with month=3, year=2012:

In [13]:
url = url_template.format(month=3, year=2012)

This is great! We can just use the same read_csv function as before, and just give it a URL as a filename. Awesome.

Upon inspection, we find out that there are 16 rows of metadata at the top of this CSV, but pandas knows CSVs are weird, so there's a skiprows options. We parse the dates again, and set 'Date/Time' to be the index column. Here's the resulting dataframe.

In [14]:
weather_mar2012 = pd.read_csv(url, skiprows=16, index_col='Date/Time', parse_dates=True, encoding='latin1')

CParserError: Error tokenizing data. C error: Expected 2 fields in line 67, saw 4

In [8]:
weather_mar2012.head()

NameError: name 'weather_mar2012' is not defined

As before, we can get rid of any comlumns that don't contain real data using ${\tt .dropna()}$

In [ ]:
weather_mar2012 = weather_mar2012.dropna(axis=1, how='any')

In [ ]:
weather_mar2012.head()

Getting better! The Year/Month/Day/Time columns are redundant, though, and the Data Quality column doesn't look too useful. Let's get rid of those.

In [ ]:
weather_mar2012 = weather_mar2012.drop(['Year', 'Month', 'Day', 'Time', 'Data Quality'], axis=1)
weather_mar2012[:5]

Great! Now let's figure out how to download the whole year? It would be nice if we could just send that as a single request, but like many APIs this one is limited to prevent people from hogging bandwidth. No problem: we can write a function!

In [91]:
def download_weather_month(year, month):
    url = url_template.format(year=year, month=month)
    weather_data = pd.read_csv(url, skiprows=16, index_col='Date/Time', parse_dates=True)
    weather_data = weather_data.dropna(axis=1)
    weather_data.columns = [col.replace('\xb0', '') for col in weather_data.columns]
    weather_data = weather_data.drop(['Year', 'Day', 'Month', 'Time', 'Data Quality'], axis=1)
    return weather_data

Now to test that this function does the right thing:

In [92]:
download_weather_month(2012, 1).head()

CParserError: Error tokenizing data. C error: Expected 2 fields in line 67, saw 4

Woohoo! Now we can iteratively request all the months using a single line. This will take a little while to run.

In [93]:
data_by_month = [download_weather_month(2012, i) for i in range(1, 12)]

CParserError: Error tokenizing data. C error: Expected 2 fields in line 67, saw 4

Once that's done, it's easy to concatenate all the dataframes together into one big dataframe using ${\tt pandas.concat()}$. And now we have the whole year's data!

In [1]:
weather_2012 = pd.concat(data_by_month)

NameError: name 'pd' is not defined

This thing is long, so instead of printing out the whole thing, I'm just going to print a quick summary of the ${\tt DataFrame}$ by calling ${\tt .info()}$:

In [2]:
weather_2012.info()

NameError: name 'weather_2012' is not defined

And a quick reminder, if we wanted to save that data to a file:

In [98]:
weather_2012.to_csv('weather_2012.csv')

NameError: name 'weather_2012' is not defined

## And finally, something you should do early on in the wrangling process, plot data:

In [94]:
# plot that data
import matplotlib.pyplot as plt 
# so now 'plt' means matplotlib.pyplot

In [97]:
plt.plot(df)

[<matplotlib.lines.Line2D at 0x113d3c110>,
 <matplotlib.lines.Line2D at 0x105026710>,
 <matplotlib.lines.Line2D at 0x1187d5290>,
 <matplotlib.lines.Line2D at 0x1187d5e90>,
 <matplotlib.lines.Line2D at 0x1187d5910>]

In [ ]:
# nothing to see... in iPython you need to specify where the chart will display, usually it's in a new window
# to see them 'inline' use:
%matplotlib inline

In [96]:
plt.plot(df)

[<matplotlib.lines.Line2D at 0x1050263d0>,
 <matplotlib.lines.Line2D at 0x116c47e50>,
 <matplotlib.lines.Line2D at 0x116c47f90>,
 <matplotlib.lines.Line2D at 0x116c5b110>,
 <matplotlib.lines.Line2D at 0x116c5b250>]

In [ ]:
# that's better, try other plots, scatter is popular, also boxplot